In [472]:
import math
import pandas as pd



#convert from D,M,S to Decimal
def DeflectionAngle(degrees, minutes, seconds):
    decimal_deg = degrees + (minutes / 60) + (seconds / 3600)
    return decimal_deg

def TangetDestince(Radius,def_angel):
    return Radius*(math.tan( math.radians(def_angel)/2))

def LongChord(Radius,def_angel):
    return Radius*2*math.sin(math.radians(def_angel)/2)

def L(Radius,def_angel):
    return Radius*math.radians(def_angel)

def chainageT1(chI,Radius,def_angel):
    return chI-TangetDestince(Radius,def_angel)

def chainageT2(chI,Radius,def_angel):
    return chainageT1(chI,Radius,def_angel)+L(Radius,def_angel)

def thetaNote(Radius,def_angel):
    return (def_angel/2)/L(Radius,def_angel)

def thetanote_to_dms(angle):
    degrees = int(angle)
    minutes = int((angle - degrees) * 60)
    seconds = float(((angle - degrees) * 60 - minutes) * 60)

    return str(degrees)+" degrees| "+ str(minutes)+" min| "+ str(seconds)+" sec"


def DeflictionAngleMethod(chI, Radius,def_angel):
    table = {"point": list(), "Chainage": list(), "Subchord": list(), "Defliction Angle": list()}
    Alp = dict()
    Thon = thetaNote(Radius,def_angel)
    # -----
    table["point"].append("T1")
    Alp['T1'] = 0
    table["Subchord"].append("0")
    table["Defliction Angle"].append("0")
    table["Chainage"].append(chainageT1(chI, Radius,def_angel))
    # ------
    table["point"].append("1")
    val = chainageT1(chI, Radius,def_angel)

    x = math.ceil(val / 5) * 5
    table["Chainage"].append(x)
    c1 = x - chainageT1(chI, Radius,def_angel)
    table["Subchord"].append(c1)
    alpha1 = Thon * c1
    Alp['1'] = alpha1

    alpha1 = thetanote_to_dms(alpha1)
    table["Defliction Angle"].append(alpha1)

    # ---
    c = Radius / 20
    i = 0
    lis=list()
    ch=None
    while x + c * (i + 1) <= chainageT2(chI, Radius,def_angel):
        table['point'].append(i + 2)

        ch = x + c * (i + 1)
        table['Chainage'].append(ch)
        table['Subchord'].append(c)
        alpha1 = Thon * (c1 + c * (i + 1))
        lis.append(alpha1)
        alpha1 = thetanote_to_dms(alpha1)
        table["Defliction Angle"].append(alpha1)
        i += 1

#     print(i,)
    leng =len(table["Defliction Angle"])
    for num in range(i,leng+1):
        print(num)
        Alp[str(num-1)]=lis[num-3]
    
    if ch is None:
        ch= x
    table['point'].append('T2')
    cht2 = chainageT2(chI, Radius,def_angel)
    table['Chainage'].append(cht2)
    c2 = cht2 - ch
    table['Subchord'].append(c2)
    alpha1 = (c1 + i * c + c2) * Thon
    Alp['T2'] = alpha1

    alpha1 = thetanote_to_dms(alpha1)
    table["Defliction Angle"].append(alpha1)

    return table, Alp




def coordinatesMethod(xi, yi, azIT1, Radius,Alpha,decimal_deg):
    table = {"points": list(), "cordinates": list()}
    azt1i = azIT1 + 180
    if azt1i > 360:
        azt1i -= 360
    azIT1=math.radians(azIT1)
    print(azt1i)
#     azt1i=math.radians(azt1i)
    #     print(xi+ TangetDestince(Radius)*math.sin(200))
    table['points'].append('T1')
    xt1 = xi + TangetDestince(Radius,decimal_deg) * math.sin(azIT1)
    yt1 = yi + TangetDestince(Radius,decimal_deg) * math.cos(azIT1)
    table['cordinates'].append((xt1, yt1))
    print("xt1,yt1",xt1,yt1)
    #     print(xt1,yt1)
    for i in list(Alpha.keys())[1:]:
        print("==============",i)
        a = Alpha[i]
        table['points'].append(i)
        print("a",a)
        AZt1pi = (azt1i +a)*(math.pi/180)
        print("AZt1pi",AZt1pi)
        t1pi = 2 * Radius * math.sin(a*(math.pi/180))
        print("t1pi",t1pi)
        print("Sin",math.sin(a))
        xpi = xt1 + t1pi * math.sin(AZt1pi)
        ypi = yt1 + t1pi * math.cos(AZt1pi)
        print("xpi,ypi", xpi, ypi)

        table['cordinates'].append((xpi, ypi))
    return table

In [473]:
val= DeflectionAngle(13,27,0)
print(val)

13.45

In [474]:
t , alp=DeflictionAngleMethod(287.93,100,val)
pd.DataFrame(t)

3
4
5

  point    Chainage  Subchord                           Defliction Angle
0    T1  276.138462         0                                          0
1     1  280.000000  3.861538   1 degrees| 6 min| 22.496705565339568 sec
2     2  285.000000       5.0   2 degrees| 32 min| 19.11686174274905 sec
3     3  290.000000       5.0  3 degrees| 58 min| 15.737017920157257 sec
4     4  295.000000       5.0  5 degrees| 24 min| 12.357174097565462 sec
5    T2  299.613141  4.613141  6 degrees| 43 min| 29.999999999992326 sec

In [475]:
alp

{'T1': 0,
 '1': 1.106249084879261,
 '2': 2.5386435727063192,
 '3': 3.971038060533377,
 '4': 5.403432548360435,
 'T2': 6.724999999999998}

In [476]:
pd.DataFrame(coordinatesMethod(1000,1000,200,100,alp,val))

20
xt1,yt1 995.9670565599375 988.9195789644908
============== 1
a 1.106249084879261
AZt1pi 0.3683735392771832
t1pi 3.8612978583849324
Sin 0.8940245010361645
xpi,ypi 997.3575043604851 992.5218388197928
============== 2
a 2.5386435727063192
AZt1pi 0.39337353927718327
t1pi 8.858638607493024
Sin 0.5670739959832762
xpi,ypi 999.362629990066 997.1016055507818
============== 3
a 3.971038060533377
AZt1pi 0.41837353927718324
t1pi 13.850442995832568
Sin -0.7375569762346211
xpi,ypi 1001.594142671403 1001.5754342526552
============== 4
a 5.403432548360435
AZt1pi 0.4433735392771832
t1pi 18.8335913081511
Sin -0.770581325342363
xpi,ypi 1004.0464647849419 1005.9321426835837
============== T2
a 6.724999999999998
AZt1pi 0.4664392425954845
t1pi 23.420815685213427
Sin 0.42758060917979984
xpi,ypi 1006.4996026016552 1009.838471890261

  points                                cordinates
0     T1    (995.9670565599375, 988.9195789644908)
1      1    (997.3575043604851, 992.5218388197928)
2      2     (999.362629990066, 997.1016055507818)
3      3   (1001.594142671403, 1001.5754342526552)
4      4  (1004.0464647849419, 1005.9321426835837)
5     T2   (1006.4996026016552, 1009.838471890261)

In [418]:
# import math

# def cos_of_sin_in_degrees(angle_degrees):
#     angle_radians = math.radians(angle_degrees)
#     sin_angle = math.sin(angle_radians)
#     cos_of_sin = math.cos(sin_angle)
#     return sin_angle

# angle_degrees = 200
# cosine_of_sine = cos_of_sin_in_degrees(angle_degrees)
# print(f"The cosine of the sine of {angle_degrees} degrees is: {cosine_of_sine}")

In [419]:
math.sin(1.106*(math.pi/180))

0.019302142750774715